
<% include partials/_header %>
  
<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0"> 
                    <h1 class="display-3">BLOG</h1>
                  </div>
            <div class="container">
                <p class="text-uppercase text-justify"></p>
            </div>
            <br>
            <div>
                <!-- <img src="../images/design_thinking.png" class="rounded mx-auto d-block">
                <br>
                -->

            </div>

                <div class="container">
              <div class="card-columns">
                  <div class="card">
                    <img class="card-img-top" src="../images/design_thinking.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Design Thinking, aplicando a mi negocio</h5>
                      <p class="card-text">La innovación se ha convertido en un factor diferenciador 
                          entre las empresas modernas. Para tener productos o servicios que cubran 
                          las necesidades reales de los consumidores, es importante que implementen
                          metodologías de design thinking.
                          El mercado laboral se ha vuelto cada vez más competitivo. Un estudio llevado 
                          a cabo por SGS Academy determinó que en nuestro país se crean 30 mil puestos de 
                          trabajo para aproximadamente 200 mil nuevos profesionales anualmente...</p>
                          <a href="https://bchpeconsultoria.blogspot.com/2019/10/design-thinking-aplicando-mi-negocio.html" class="btn btn-primary text-uppercase btn-block">Leer mas</a>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="../images/advise_cv.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Cursos que pueden ayudar a que tu Cv sea mas atractivo</h5>
                      <p class="card-text">Actualmente el mercado laboral está cada vez más competitivo, 
                        la llegada masiva de extranjeros hace que las empresas tengas más demanda de postulantes 
                        y con diferentes competencias y estudios realizados. En los informes del 2019 de las carreras más 
                        estudiadas, se coloca como: Derecho, Administración y Contabilidad.
                        <br>
                        Es cierto, tenemos un montón de administradores, diversificando su trabajo en otras áreas 
                        (porque las áreas de administración ya están saturadas)...
                      </p>
                          <a href="https://bchpeconsultoria.blogspot.com/2019/09/cursos-que-pueden-ayudar-que-tu-cv-sea.html" class="btn btn-primary text-uppercase btn-block">Leer mas</a>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="../images/tip_advise_why_they_dont_call_me.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Cumplo con el perfil, pero no me llaman para trabajar</h5>
                      <p class="card-text">Si cumplo con los requisitos, ¿cómo es que no me llaman? Podría haber 
                        tantas respuestas como situaciones en la vida; es difícil dar con una única razón correcta. 
                        Te daré alguna pista sobre cómo trabajamos los seleccionadores, para que puedas sacar tus propias 
                        conclusiones, pues la verdad absoluta y universal evidentemente no está en nuestras manos. 
                        Cuando tenemos una cantidad importante de CVs que cumplen con los requisitos es prácticamente 
                        imposible entrevistar a todo el mundo...</p>
                          <a href="https://bchpeconsultoria.blogspot.com/2019/09/cumplo-con-el-perfil-pero-no-me-llaman.html" class="btn btn-primary text-uppercase btn-block">Leer mas</a>
                    </div>
                  </div>
                  
              </div>
                  
            

<% include partials/_footer %>
