<% include partials/_header %>


<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0"> 
    <h1 class="display-3 text-wrap">BCHPE </h1>
  </div>


  <!-- 
    COMENTARIO:
    1. Queremos que la gente tenga acceso
    1. 
  -->

  <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-4 text-justify">
          <h2>NOSOTROS</h2>
          <p>Somos dos jóvenes interesados en conectar tu experiencia laboral con una posición de trabajo, publicando
             los avisos de trabajo que se encuentran en las puertas de los negocios y en las calles agilizaremos tu búsqueda
             de trabajo en el mercado laboral.
             <br>
             <br>
              Te apoyaremos en todo el proceso de buscar trabajo, nos interesa tu postulacion y la respuesta hacia ti.</p>
              <div class="container mb-4">
                <div class="row ">
                    <span class="border border-secondary rounded"> 
                        <img class="card-img-top" src="../images/job.jpg">
                    </span>
                  
                  <br>
              </div>
              <div class="row ">
                <span class="border border-secondary rounded"> 
                    <img class="card-img-top" src="../images/bchpe_real_image.jpg">
                </span>
          </div>
            </div>
          <div class="container mb-4 ">
           <h3>CONTACTANOS:</h3>
           <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <li class="" style="color:cornflowerblue"><strong> buscochambape@outlook.com</strong></li>
                
                <li class="" style="color:cornflowerblue"><strong> bchpeconsulting@gmail.com</strong></li>
              
            </li>
            <!-- 
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="https://bchpeconsultoria.blogspot.com/" target="blank">Ultimas Noticias</a>
            </li>
            -->
          </ul>
        </div>
          <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">

           <!-- Here ONPE -->
            
           <h2 class="text-uppercase"> <mark>¿LISTO PARA HACER DELIVERY?</mark></h2>
           <br>
           <ul>
            <li>Necesitamos personas para realizar delivery, deja tus datos en la sección <a href="/formulario-delivery">DELIVERY.</a></li>     
          </ul>
          <br>
          <h2 class="text-uppercase"> <mark>TAXISTAS PERMITIDOS PARA CIRCULAR</mark></h2>
           <br>
           <ul>
            <li>Tenemos una lista de taxistas permitidos para circular, dale una mirada en la sección <a href="/taxis">TAXIS.</a></li>     
          </ul>
          <br>
           <h2 class="text-uppercase"> <mark>CORONAVIRUS (COVID-19)</mark></h2>
           <!-- 
           <p>¿Que es lo que está sucediendo realmente?</p>
           -->
           <br>
              <div class="container">
                 <div class="row">
                   <div class="col-mb-4">
                     <i class="fas fa-money-check-alt" style='font-size:20px'></i>
                     <a href="https://www.bonoindependiente.pe/" target="_blank">Bono para hogares vulnerables. CLICK AQUI!</a>
                     <br>
                     <br>
                     <i class="fas fa-hand-holding-usd" style='font-size:20px'></i> 
                     <a href="https://bono.yomequedoencasa.pe/WEB/" target="_blank">Consulta tu subsidio monetario. CLICK AQUI!</a>
                     <br>
                     <br>
                     <i class="fas fa-house-damage" style='font-size:20px'></i>
                     <a href="http://covidperu.live/" target="_blank">Ver distritos infectados con COVID-19. CLICK AQUI!</a>
                     <br>
                     <br>
                     <i class="fas fa-user-nurse" style='font-size:20px'></i> 
                     <a href="https://www.youtube.com/watch?v=SLV1B5Lzy48&feature=emb_title" target="_blank">Sigue en vivo el avance de COVID-19. CLICK AQUI!</a>
                     <br>
                     <br>
                     <h3 class="text-uppercase">Recuerda</h2>
                     <br>
                        <ul>
                          <li>Respeta las disposiciones realizadas por el Gobierno durante el Estado de Emergencia Nacional.</li>
                          <br>
                          <li>No salgas de casa sin portar una mascarilla.</li>
                          <br>
                          <li>Manten el distanciamiento social (un metro como mínimo).</li>
                          <br>
                          <li>Si retiras el bono para independientes en un agente del Banco de la Nación no tienes la obligación de comprar algún producto en la tienda que lo gestiona.</li>
                          <br>
                          <li>Lávate constantemente las manos con agua y jabón.</li>
                          <br>
                          <li>Ante la presencia de síntomas severos vinculados al COVID-19 (dificultad respiratoria y fiebre alta), comunícate al 113.</li>
                        </ul>
                          <!-- 
                          <div class="col-mb-12">              
                              <a class="" href="/prices">Aqui nuestros precios</a>
                          </div>
                            -->                  
                   </div>
                 </div>
             </div>
             
        <!-- Ends here ONPE -->
        <br>

          <h2 class="text-uppercase">Nuestros Avisos de Trabajo</h2>
          <p>Nuestros avisos de trabajo se destacan por tres características:</p>
          <ul>
            <li>Menos pasos para postular.</li>
            <li>Sin pago alguno.</li>
            <li>Respuesta positiva o negativa para el postulante.</li>
          </ul>
          <i class="fas fa-suitcase" style='font-size:20px;color:rgb(236, 89, 20)'></i>
          <a href="/ofertas-laborales">Ver Avisos</a>
          <br>
          <br>
          <h2 class="text-uppercase">PUBLICA TU AVISO DE TRABAJO</h2>

          <p>Contamos con paquetes dirigidos a <strong> MYPES</strong> como, bodegas, restaurantes, peluquerias, veterinarias
            y todo tipo de negocio, gracias a nuestros precios.</p>
            
             <div class="container">
                <div class="row">
                  <div class="col-mb-4">
                    <i class="fas fa-bullhorn" style='font-size:20px;color:rgb(236, 89, 20)'></i>
                    <a href="/paquetes">Ver Paquetes</a>
                    <!-- 
                      <p>Nuestros precios van desde <mark> S/.25.00</mark> soles por 10 dias</p>
                    
                  <div class="col-mb-12">              
                          <a class="" href="/prices">Aqui nuestros precios</a>
                  </div>
                  -->
                  </div>
                </div>
            </div>
              <br>
              <h2 class="text-uppercase">REGISTRATE</h2>

          <p>Registrate y te enviaremos las ultimas ofertas de trabajo.</p>
            
             <div class="container">
                <div class="row">
                  <div class="col-mb-4">
                    <i class="fas fa-handshake" style='font-size:20px;color:rgb(236, 89, 20)'></i>
                    <a href="/formulario-trabajos">Regístrate</a> 
                    <!-- 
                      <p>Nuestros precios van desde <mark> S/.25.00</mark> soles por 10 dias</p>
                    
                  <div class="col-mb-12">              
                          <a class="" href="/prices">Aqui nuestros precios</a>
                  </div>
                  -->
                  </div>
                </div>
            </div>
            <br>
            <h2 class="text-uppercase">CACHUELOS</h2>

          <p>¿Estás preparado para realizar algún cachuelo?. Entonces esta es tu oportunidad, no la desaproveches!</p>
            
             <div class="container">
                <div class="row">
                  <div class="col-mb-4">
                    <i class="fas fa-people-carry" style='font-size:20px;color:rgb(236, 89, 20)'></i>
                    <a href="/cachuelos">Ver Cachuelos</a> 
                    <!-- 
                      <p>Nuestros precios van desde <mark> S/.25.00</mark> soles por 10 dias</p>
                    
                  <div class="col-mb-12">              
                          <a class="" href="/prices">Aqui nuestros precios</a>
                  </div>
                  -->
                  </div>
                </div>
            </div>
            <br>     
                  <!-- Here ONPE -->
                  
               <!-- Ends here ONPE -->
        <p class="font-italic text-center"><strong>¡Encuentra a tu futuro trabajador aquí!</strong> </p>
      </div>
    </div>
  </div>

<% include partials/_footer %>

