<% include partials/_header %>

<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0">
    <h1 class="display-3">Paquetes</h1>
  </div>

  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-md-12 text-left" >
        <div class="card border-dark mb-3" style="max-width:auto">
          <div class="card-header"><i class="fas fa-sun"></i></div>
          <div class="card-body text-dark">
            <h5 class="card-title">OPCION UNO</h5>
            <p class="card-text">Si tu negocio recien esta comenzando, te recomendamos esta opcion. Publicaremos tu aviso en nuestro Facebook.</p>
              <table class="table table-bordered table-hover table-responsive-sm">
                <thead class="thead-light">
                  <tr>
                    <th>Publicacion x dias</th>
                    <th>20 dias</th>
                    <th>30 dias</th>
                    <th>45 dias</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Facebook</td>
                    <td>S/. 8.00</td>
                    <td>S/. 15.00</td>
                    <td>S/. 20.00</td>
                 </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container" style="margin-top:10px">
  <div class="row">
    <div class="col-md-12 text-left" >
      <div class="card border-dark mb-3" style="max-width:auto">
        <div class="card-header"><i class="fas fa-pen"></i></div>
        <div class="card-body text-dark">
          <h5 class="card-title">OPCION DOS</h5>
          <p class="card-text">Si tu negocio tiene mas de 3 meses de funcionamiento, te recomendamos esta opcion de reclutamiento. Publicaremos tu aviso en nuestra Pagina Web.</p>
            <table class="table table-bordered table-hover table-responsive-sm">
              <thead class="thead-light">
                <tr>
                  <th>Publicacion x dias</th>
                  <th>20 dias</th>
                  <th>30 dias</th>
                  <th>45 dias</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pagina Web</td>
                  <td>S/. 27.00</td>
                  <td>S/. 32.00</td>
                  <td>S/. 42.00</td>
               </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
</div>
</div>


<div class="container" style="margin-top:10px">
  <div class="row">
    <div class="col-md-12 text-left" >
      <div class="card border-dark mb-3" style="max-width:auto">
        <div class="card-header"><i class="fas fa-robot"></i></div>
        <div class="card-body text-dark">
          <h5 class="card-title">OPCION TRES</h5>
          <p class="card-text">Recomendamos este paquete si estas con urgencia de personal, ya que el aviso tendra mucho mas difusion. Publicaremos tu aviso en nuestro Facebook y Pagina Web.</p>
            <table class="table table-bordered table-hover table-responsive-sm">
              <thead class="thead-light">
                <tr>
                  <th>Publicacion x dias</th>
                  <th>20 dias</th>
                  <th>30 dias</th>
                  <th>45 dias</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Facebook + Pagina web</td>
                  <td>S/. 35.00</td>
                  <td>S/. 40.00</td>
                  <td>S/. 50.00</td>
               </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
</div>
</div>


<div class="container" style="margin-top:10px">
  <div class="row">
    <div class="col-md-12 text-left" >
      <div class="card border-dark mb-3" style="max-width:auto">
        <div class="card-header"><i class="fas fa-wallet"></i></div>
        <div class="card-body text-dark">
          <h5 class="card-title">OPCION CUATRO</h5>
          <p class="card-text"> Si estas buscando personal con este tipo de oficio (Pintores, gasfiteros, jardineros, etc) , te recomendamos este servicio de busqueda que sera
            difundido por nuestro Facebook y Pagina Web.</p>
            <table class="table table-bordered table-hover table-responsive-sm">
              <thead class="thead-light">
                <tr>
                  <th>Publicacion x dias</th>
                  <th>10 dias</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Oficios</td>
                  <td>S/. 10.00</td>
               </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
</div>
</div>

<% include partials/_footer %>