
        <div class="container">
          <div class="row">
            <div class="col-sm-4" >
                <div class="card" style="width: auto;">
                  <!-- 
                    <img src="..." class="card-img-top" alt="...">
                    -->
                    <div class="card-body card border-primary">
                      <h5 class="card-title text-center">Fanpage</h5>
                      <p class="card-text">
                          Se publica el aviso en la Fanpage de la pagina,
                          la cual sera vista bla bla bla bla bla bla bla bla.
                      </p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Duracion: 20 dias <strong>Precio:</strong> <mark>S/. 8.00 soles </mark></li>
                      
                      <li class="list-group-item">Duracion: 30 dias <strong>Precio:</strong> <mark>S/. 15.00 soles </mark></li>
                      
                      <li class="list-group-item">Duracion: 45 dias <strong>Precio:</strong> <mark>S/. 20.00 soles </mark></li>
                      
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Ver mas detalles</a>
                    </div>
                  </div>
                
              </div>
            <div class="col-sm-4" >
                <div class="card" style="width: auto;">
                    <!-- 
                    <img src="..." class="card-img-top" alt="...">
                    -->
                    <div class="card-body card border-primary">
                      <h5 class="card-title text-center">Pagina Web</h5>
                      <p class="card-text">
                          Se publica el aviso en la Fanpage de la pagina,
                          la cual sera vista bla bla bla bla bla bla bla bla.
                      </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Duracion: 20 dias <strong>Precio:</strong> <mark>S/. 8.00 soles </mark></li>
                        
                        <li class="list-group-item">Duracion: 30 dias <strong>Precio:</strong> <mark>S/. 15.00 soles </mark></li>
                        
                        <li class="list-group-item">Duracion: 45 dias <strong>Precio:</strong> <mark>S/. 20.00 soles </mark></li>
                        
                      </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Ver mas detalles</a>
                    </div>
                  </div>
                </div>
              <div class="col-sm-4" >
                  <div class="card" style="width: auto;">
                      <!-- 
                    <img src="..." class="card-img-top" alt="...">
                    -->
                      <div class="card-body card border-primary">
                        <h5 class="card-title text-center"> Fanpage + Pagina web</h5>
                        <p class="card-text">
                            Se publica el aviso en la Fanpage de la pagina
                        </p>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">Duracion: 20 dias <strong>Precio:</strong> <mark>S/. 8.00 soles </mark></li>
                          
                          <li class="list-group-item">Duracion: 30 dias <strong>Precio:</strong> <mark>S/. 15.00 soles </mark></li>
                          
                          <li class="list-group-item">Duracion: 45 dias <strong>Precio:</strong> <mark>S/. 20.00 soles </mark></li>
                          
                        </ul>
                      <div class="card-body">
                        <a href="#" class="card-link">Ver mas detalles</a>
                      </div>
                    </div>
                  </div>
        </div>
        <br>
        <br>